<!doctype html>

<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link href='http://fonts.googleapis.com/css?family=Syncopate:400,700' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://current.bootstrapcdn.com/bootstrap-v204/js/bootstrap.js"></script>
    <script type="text/javascript" src="http://www.highcharts.com/highslide/highslide-full.min.js"></script>
    <script type="text/javascript" src="http://www.highcharts.com/highslide/highslide.config.js" charset="utf-8"></script>
    <script type="text/javascript" src="http://code.highcharts.com/highcharts.js" charset="utf-8"></script>
    <script type="text/javascript" src="http://code.highcharts.com/modules/exporting.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="http://www.highcharts.com/highslide/highslide.css" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Momento</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(function () {
        var chart;
        var bucket_size = 25920000; // a month.
        $(document).ready(function() {
            url = '"http://static.adzerk.net/Advertisers/bd294ce7ff4c43b6aad4aa4169fb819b.jpg" ';
            var images = [];
            var links = [];
            // define the options
            var options = {
                chart: {
                    renderTo: 'container',
                    type: 'spline'
                    },
                colors: [
                    '#4a036f', 
                ],
    
              title: {
                    text: ''
                },
    
                xAxis: {
                    type: 'datetime',
                    tickInterval: 7 * 24 * 3600 * 4000, // one month 
                    tickWidth: 0,
                    gridLineWidth: 1,
                    labels: {
                        align: 'left',
                        x: 3,
                        y: -3
                    }
                },
    
            yAxis: [{ // left y axis
                title: {
                    text: null
                },
                labels: {
                    align: 'left',
                    x: 3,
                    y: 16,
                    formatter: function() {
                        return Highcharts.numberFormat(this.value, 0);
                    }
                },
                showFirstLabel: false
            }, { // right y axis
                linkedTo: 0,
                gridLineWidth: 0,
                opposite: true,
                title: {
                    text: null
                },
                labels: {
                    align: 'right',
                    x: -3,
                    y: 16,
                    formatter: function() {
                        return Highcharts.numberFormat(this.value, 0);
                    }
                },
                showFirstLabel: false
            }],
    
            legend: {
                align: 'left',
                verticalAlign: 'top',
                y: 20,
                floating: true,
                borderWidth: 0
            },
    
             tooltip: {
                    shared: true,
                    crosshairs: true,
                    useHTML: true,
                    headerFormat: '<small>{point.key}</small><table>',
                    pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                    '<td style="text-align: right"><b>{point.y} EUR</b></td></tr>',
                    footerFormat: '</table>',
                    formatter: function() {
                        image = '"' + images[this.x] + '" ';
                        link = '"' + links[this.x] + '"'; 
                        str = '<a href=' + link + '><img src=' + image + 'title="" alt="" border="0" height="250" width="220" style="opacity:0.6;"></a>';
                        return str;
                    },
                    valueDecimals: 2
                },    

            plotOptions: {
                series: {
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function() {
                                hs.htmlExpand(null, {
                                    pageOrigin: {
                                        x: this.pageX,
                                        y: this.pageY
                                    },
                                    headingText: this.series.name,
                                    maincontentText: Highcharts.dateFormat('%A, %b %e, %Y', this.x) +':<br/> '+
                                        this.y + ' photos. ' + '<a href="' + links[this.x] + '">original link</a>',
                                    width: 200
                                });
                            }
                        }
                    },
                    marker: {
                        lineWidth: 1
                    }
                }
            },
    
            series: [{
                name: 'Photos',
                lineWidth: 4,
                marker: {
                    radius: 4
                }
            }
            ]
        };
    
    
        // Load data asynchronously using jQuery. On success, add the data
        // to the options and timeiate the chart.
        // This data is obtained by exporting a GA custom report to TSV.
        // http://api.jquery.com/jQuery.get/
        photos =[],
        checkIns = [];

        //jQuery.getJSON('../../../julia_photo_json.json', null, function(text) {
        text = jQuery.parseJSON('{{ photo_json|safe }}');

            i = 0;
            time = text[0][0]
            counter = 0; 
            while(i<text.length) {
                if (text[i][0] < (time + bucket_size)) {
                   counter++; 
                } else {
                    photos.push([time, counter]);
                    counter = 1;
                }
                key = text[i][0];
                images[key] = text[i][1].data;
                links[key] = text[i][1].link;
                time = key;
                i++;
            }
                options.series[0].data = photos;
                chart = new Highcharts.Chart(options);
            
        });
    });
    $(function () {
    var chart;
    var bucket_size = 25920000; // a month.
    $(document).ready(function() {
        var lats= [];
        var longs = [];
        var links = [];
        // define the options
        var options = {
            chart: {
                renderTo: 'container-checkin',
                type: 'spline'
                },
                colors: [ '#990021' ],
    
            title: {
                text: ''
            },
    
            xAxis: {
                type: 'datetime',
                tickInterval: 7 * 24 * 3600 * 4000, // one month 
                tickWidth: 0,
                gridLineWidth: 1,
                labels: {
                    align: 'left',
                    x: 3,
                    y: -3
                }
            },
    
            yAxis: [{ // left y axis
                title: {
                    text: null
                },
                labels: {
                    align: 'left',
                    x: 3,
                    y: 16,
                    formatter: function() {
                        return Highcharts.numberFormat(this.value, 0);
                    }
                },
                showFirstLabel: false
            }, { // right y axis
                linkedTo: 0,
                gridLineWidth: 0,
                opposite: true,
                title: {
                    text: null
                },
                labels: {
                    align: 'right',
                    x: -3,
                    y: 16,
                    formatter: function() {
                        return Highcharts.numberFormat(this.value, 0);
                    }
                },
                showFirstLabel: false
            }],
    
            legend: {
                align: 'left',
                verticalAlign: 'top',
                y: 20,
                floating: true,
                borderWidth: 0
            },
    
             tooltip: {
                    shared: true,
                    crosshairs: true,
                    useHTML: true,
                    headerFormat: '<small>{point.key}</small><table>',
                    pointFormat: '<tr><td style="color: {series.color}">{series.name}: </td>' +
                    '<td style="text-align: right"><b>{point.y} EUR</b></td></tr>',
                    footerFormat: '</table>',
                    formatter: function() {
                     return '<iframe width="220" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=' + lats[this.x] + ',+' + longs[this.x] + '&amp;ie=UTF8&amp;t=m&amp;z=14&amp;ll=' + lats[this.x] + ',' + longs[this.x] + '&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=' + lats[this.x] + ',+' + longs[this.x] + '&amp;ie=UTF8&amp;t=m&amp;z=14&amp;ll=' + lats[this.x] + ',' + longs[this.x] + '&amp;source=embed" style="color:#0000FF;text-align:left;opacity=0.6;">View Larger Map</a></small>';
                    },
                    valueDecimals: 2
                },    

            plotOptions: {
                series: {
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function() {
                                hs.htmlExpand(null, {
                                    pageOrigin: {
                                        x: this.pageX,
                                        y: this.pageY
                                    },
                                    headingText: this.series.name,
                                    maincontentText: Highcharts.dateFormat('%A, %b %e, %Y', this.x) +':<br/> '+
                                        this.y + ' check-in. ' +  '<a href="' + links[this.x] + '">original link</a>',
                                    width: 200
                                });
                            }
                        }
                    },
                    marker: {
                        lineWidth: 1
                    }
                }
            },
    
            series: [{
                name: 'Checkins',
                lineWidth: 4,
                marker: {
                    radius: 4
                }
            }
            ]
        };
    
    
        // Load data asynchronously using jQuery. On success, add the data
        // to the options and timeiate the chart.
        // This data is obtained by exporting a GA custom report to TSV.
        // http://api.jquery.com/jQuery.get/
        checkins = [];

        text = jQuery.parseJSON('{{ checkin_json|safe }}');

            i = 0;
            time = text[0][0]
            counter = 0; 
            while(i<text.length) {
                if (text[i][0] < (time + bucket_size)) {
                   counter++; 
                } else {
                    checkins.push([time, counter]);
                    counter = 1;
                }
                key = text[i][0];
                lats[key] = text[i][1].lat;
                longs[key] = text[i][1].lng;
                links[key] = text[i][1].link;
                time = key;
                i++;
            }
                options.series[0].data = checkins;
                chart = new Highcharts.Chart(options);
            
        });
    });
    $(function () {
    var chart;
    var bucket_size = 25920000; // a month.
    $(document).ready(function() {
        var data= [];
        var links = [];
        var options = {
            chart: {
                renderTo: 'container-status'
            },
    
            title: {
                text: ''
            },
    
            xAxis: {
                type: 'datetime',
                tickInterval: 7 * 24 * 3600 * 4000, // one month
                tickWidth: 0,
                gridLineWidth: 1,
                labels: {
                    align: 'left',
                    x: 3,
                    y: -3
                }
            },
    
            yAxis: [{ // left y axis
                title: {
                    text: null
                },
                labels: {
                    align: 'left',
                    x: 3,
                    y: 16,
                    formatter: function() {
                        return Highcharts.numberFormat(this.value, 0);
                    }
                },
                showFirstLabel: false
            }, { // right y axis
                linkedTo: 0,
                gridLineWidth: 0,
                opposite: true,
                title: {
                    text: null
                },
                labels: {
                    align: 'right',
                    x: -3,
                    y: 16,
                    formatter: function() {
                        return Highcharts.numberFormat(this.value, 0);
                    }
                },
                showFirstLabel: false
            }],
    
            legend: {
                align: 'left',
                verticalAlign: 'top',
                y: 20,
                floating: true,
                borderWidth: 0
            },
            plotOptions: {
                series: {
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function() {
                                hs.htmlExpand(null, {
                                    pageOrigin: {
                                        x: this.pageX,
                                        y: this.pageY
                                    },
                                    headingText: this.series.name,
                                    maincontentText: Highcharts.dateFormat('%A, %b %e, %Y', this.x) +':<br/> '+
                                        this.y + ' status_texts. ' + '<a href="' + links[this.x] + '">original link</a>',
                                    width: 200
                                });
                            }
                        }
                    },
                    marker: {
                        lineWidth: 1
                    }
                }
            },
    
            series: [{
                name: 'Photos',
                lineWidth: 4,
                marker: {
                    radius: 4
                }
            }, {
                name: 'Check-ins'
            }]
        };
    
       status_texts = [];

       text = jQuery.parseJSON('{{ status_json|safe }}')
            i = 0;
            time = text[0][0]
            counter = 0;
            while(i<text.length) {
                if (text[i][0] < (time + bucket_size)) {
                   counter++;
                } else {
                    status_texts.push([time, counter]);
                    counter = 1;
                }
                key = text[i][0];
                data[key] = text[i][1].data;
                links[key] = text[i][1].link;
                console.log(text[i][1].link);
                time = key;
                i++;
            }
                options.series[0].data = status_texts;
                chart = new Highcharts.Chart(options);
        });
    });
    </script>
    </head>
    <body>
        <h2 class='special'> welcome to <span class='momento'>momento</span>. 
            <br/>
        a new way to experience the past.</h2>
    <h3>brought to you by <a href='http://www.twitter.com/zmagg/'>@zmagg</a> and <a href='http://www.twitter.com/jewelia'>@jewelia</a></h3>
    <hr>
    <h2> hover to see your <span class='photo'>photos</span>. click to see context. clap to say "yea!"</h2>
        <div id="container" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
        <hr>
        <h2> hover to see your <span class='checkins'>checkins</span>. click to see context. give a high-five!</h2>
        <div id="container-checkin" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
        <hr>
        <h2> hover to see your <span class='checkins'>status</span>. click to see context. give a high-five!</h2>
        <div id="container-status" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
        </body>
</html>
