<!doctype html>

<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.js">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Julia and Maggie</title>
</head>

<body>
        <a href='https://api.singly.com/oauth/authorize?client_id=55a4cc03aeb47566804a3dc210af2548&redirect_uri=http://localhost:8000/singly/callback&service=instagram'> Instagram </a>
        <a href='https://api.singly.com/oauth/authorize?client_id=55a4cc03aeb47566804a3dc210af2548&redirect_uri=http://localhost:8000/singly/callback&service=twitter'> Twitter </a>
        <a href='https://api.singly.com/oauth/authorize?client_id=55a4cc03aeb47566804a3dc210af2548&redirect_uri=http://localhost:8000/singly/callback&service=facebook'> Facebook </a>
        <a href='https://api.singly.com/oauth/authorize?client_id=55a4cc03aeb47566804a3dc210af2548&redirect_uri=http://localhost:8000/singly/callback&service=foursquare'> Foursquare </a>
        <a href='https://api.singly.com/oauth/authorize?client_id=55a4cc03aeb47566804a3dc210af2548&redirect_uri=http://localhost:8000/singly/callback&service=linkedin'> LinkedIn </a>
</body>
</html>
