<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Why, Hello There.</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://current.bootstrapcdn.com/bootstrap-v204/js/bootstrap.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
            domModal = $('#myModal');
            domModal.modal({
                keyboard: false,
                backdrop: 'static'
                });
            domModal.modal('show')

            $('#btnClose').live('click', function(){
                domModal.modal('hide');
                });
            });
</script>
</head>

<body>
    <div class="modal hide fade" id="myModal">
    <div class="modal-header">
        <h2>Hello there, welcome to Momento.</h2>
    </div>
    <div id="modal-interior" class="modal-body">
        <h3>Let's connect to some services to show you your social momentos:</h3>
        <br />
        {% if linkedin %}
         <a class='btn btn-primary' href='https://api.singly.com/oauth/authorize?client_id=55a4cc03aeb47566804a3dc210af2548&redirect_uri=http://localhost:8000/singly/callback&service=linkedin' disabled='disabled'> LinkedIn </a>
         {% else  %}
         <a class='btn btn-primary' href='https://api.singly.com/oauth/authorize?client_id=55a4cc03aeb47566804a3dc210af2548&redirect_uri=http://localhost:8000/singly/callback&service=linkedin'> LinkedIn </a>
         {% endif %}
         {% if instagram %}
         <a class='btn btn-primary' href='https://api.singly.com/oauth/authorize?client_id=55a4cc03aeb47566804a3dc210af2548&redirect_uri=http://localhost:8000/singly/callback&service=instagram' disabled='disabled'> Instagram </a>
         {% else  %}
         <a class='btn btn-primary' href='https://api.singly.com/oauth/authorize?client_id=55a4cc03aeb47566804a3dc210af2548&redirect_uri=http://localhost:8000/singly/callback&service=instagram'> Instagram </a>
         {% endif %}
         {% if twitter %}
         <a class='btn btn-primary' href='https://api.singly.com/oauth/authorize?client_id=55a4cc03aeb47566804a3dc210af2548&redirect_uri=http://localhost:8000/singly/callback&service=twitter' disabled='disabled'> Twitter </a>
         {% else %}
         <a class='btn btn-primary' href='https://api.singly.com/oauth/authorize?client_id=55a4cc03aeb47566804a3dc210af2548&redirect_uri=http://localhost:8000/singly/callback&service=twitter'> Twitter </a>
         {% endif %}
         {% if facebook %}
         <a class='btn btn-primary' href='https://api.singly.com/oauth/authorize?client_id=55a4cc03aeb47566804a3dc210af2548&redirect_uri=http://localhost:8000/singly/callback&service=facebook' disabled='disabled'> Facebook </a>
         {% else  %}
         <a class='btn btn-primary' href='https://api.singly.com/oauth/authorize?client_id=55a4cc03aeb47566804a3dc210af2548&redirect_uri=http://localhost:8000/singly/callback&service=facebook'> Facebook </a>
         {% endif %}
         {% if foursquare %}
         <a class='btn btn-primary' href='https://api.singly.com/oauth/authorize?client_id=55a4cc03aeb47566804a3dc210af2548&redirect_uri=http://localhost:8000/singly/callback&service=foursquare' disabled='disabled'> Foursquare </a>
         {% else %}
         <a class='btn btn-primary' href='https://api.singly.com/oauth/authorize?client_id=55a4cc03aeb47566804a3dc210af2548&redirect_uri=http://localhost:8000/singly/callback&service=foursquare'> Foursquare </a>
         {% endif %}
    </div>
    <div class="modal-footer">
    {% if foursquare or linkedin or instagram or twitter or facebook %}
        <a id="btnClose" href="/data/" class="btn btn-primary">It's cool, I'm ready for the data!</a>
    {% else %}
        <a id="btnClose" href="/data/" class="btn btn-primary" disabled='disabled'>It's cool, I'm ready for the data!</a>
    {% endif %}
    </div>
    </div>
</body>
</html>
